{% extends "layout.jinja2" %}

{% block title %} Recording Interface {% endblock %}

{% block css %}
    <link rel="stylesheet" href="assets/css/index.css">
{% endblock %}

{% block js %}
    <script src="assets/js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Recording Interface</h1>
            <p class="lead">
                The start button will zero all the axes and begin the recording.
            </p>
            <hr class="my-4">


            
	    <p class = "lead mt-4">
	       {% if not recording_on %}
	       	  <form action="/turnon" method="post">
		  <button type="submit" class = "btn btn-success btn-lg">Start Recording </button>
		  </form>
	       {% else %}
 	       	  <form action="/turnoff" method="post">
		     <button type="submit" class = "btn btn-danger btn-lg">Stop Recording </button>
		  </form> 
	       {% endif %}




	        
	    </p>
	   
	       
        </div>
    </div>
{% endblock %}